body{
    display:flex;
    user-select: none;
    gap:.5em;
}

.button{
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.button button{
    background-color: green;
    padding:10px;
}

.box{
    height:90dvh;
    text-align:center;
    width:20%;
    border: 2px solid black;
}

.item {
    position: relative;    
    background-color: skyblue;
    color: black;
    padding: 10px 30px 10px 10px;
    margin: 1em;
    border-radius: 5px;
    cursor: grab;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.delete {
    position: absolute;
    top: 4px;
    right: 4px;

    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    
    
    width: 18px;
    height: 18px;
    
    align-items: center;
    justify-content: center;
    line-height:1;
    font-size: 12px;
    cursor: pointer;
}

p{
    margin: 1 em;
    border: 2px solid black;

}
